# Node modules
node_modules
npm-debug.log

# Build output
/dist

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode
.idea

# Test files
coverage

# Docker
Dockerfile*
.dockerignore
